/* common css start */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
a {
  display: inline-block;
  text-decoration: none;
}
body {
  background-color: #121316;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
/* common css end */
#nav .navbox {
  padding: 56px 0 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  border-bottom: 2px solid rgba(85, 85, 87, 0.6);
}
#nav .navbox .navbtn .btn {
  color: #fff;
  margin-right: 23px;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.48px;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  position: relative;
}
#nav .navbox .navbtn .btn img {
  position: absolute;
  top: 0;
  right: -40px;
}
/* nav start */
/* nav end */
/* banner start */
#banner {
  padding: 132px 0 189px;
}
#banner .bnrbox h1 {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 141.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110px;
  font-weight: 700;
  letter-spacing: -5.5px;
  max-width: 834px;
}
#banner .bnrbox .box {
  height: 444px;
  background-color: #aea9b0;
  margin-top: 70px;
  position: relative;
}
#banner .bnrbox .box .mailbox {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ddff55;
  display: grid;
  place-items: center;
  border: 6px solid #121316;
  position: absolute;
  top: -16%;
  right: 39px;
}
/* banner end */
/* mix start */
#mix {
  padding: 88px 0 161px;
  position: relative;
  overflow: hidden;
}
#mix .mixshap {
  position: absolute;
  top: -0%;
  left: 0;
  width: calc(50% - 12px);
  z-index: -1;
  height: 95%;
}
#mix .title {
  padding: 0 79px;
  text-align: center;
}
#mix .title p {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.64px;
}
#mix .mixbox {
  margin-top: 148px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: " . about service";
  column-gap: 56px;
}
#mix .mixbox .about {
  grid-area: about;
}
#mix .mixbox .service {
  grid-area: service;
}
#mix .mixbox .item {
  border-top: 1px solid #555557;
}
#mix .mixbox .item h4 {
  margin-top: 32px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
}
#mix .mixbox .item p {
  color: #a3a3a5;
  font-size: 21px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1.05px;
  margin-top: 16px;
  max-width: 384px;
}
#mix .mixbox .item p span {
  color: #ffffff;
}
#mix .mixbox .item a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 56px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
/* mix end */
/* project start */
#project {
  padding: 100px 0 160px;
}
#project .title h4 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 36px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1.8px;
  max-width: 670px;
}
#project .title h4 span {
  color: #ffffff;
}
#project .projectbar {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(113, 113, 115, 0.7);
}
#project .projectbar .years {
  display: flex;
  column-gap: 16px;
}
#project .projectbar .item-bar button {
  border: none;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 50px;
  border: 1px solid #555557;
  opacity: 0.6;
  background: rgba(255, 255, 255, 0.05);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-transform: capitalize;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#project .projectbar .allproject button {
  opacity: 1;
}
#project .projectbar .item-bar button:hover,
#project .projectbar .item-bar .active {
  background-color: #555557;
  opacity: 1;
}
#project .projects {
  margin-top: 78px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(397px, 1fr));
  grid-template-rows: repeat(12, 50.5px);
  gap: 23px;
}
#project .projects .item {
  background-color: #5e666f;
}
#project .projects .item:first-child {
  grid-row-end: span 13;
}
#project .projects .item:nth-child(2) {
  grid-row-end: span 6;
}
#project .projects .item:nth-child(3) {
  grid-row-end: span 7;
}
#project .projects .item:nth-child(4) {
  grid-row-end: span 7;
}
#project .projects .item:nth-child(5) {
  grid-row-end: span 6;
}
/* project end */
/* awards start */
#awards {
  padding: 96px 0 136px;
}
#awards .title {
  text-align: center;
  padding: 0 268px;
}
#awards .title h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -2.4px;
}
#awards .title p {
  color: #fff;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1px;
  opacity: 0.6;
  max-width: 482px;
  margin: 0 auto;
}
#awards .awardbar {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(113, 113, 115, 0.7);
}
#awards .awardbar .item {
  display: flex;
  column-gap: 16px;
}
#awards .awardbar .item button {
  border: none;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 50px;
  border: 1px solid #555557;
  opacity: 0.6;
  background: rgba(255, 255, 255, 0.05);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-transform: capitalize;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#awards .awardbar .allaward button {
  opacity: 1;
}
#awards .awardbar .item button:hover,
#awards .awardbar .item .active {
  background-color: #555557;
  opacity: 1;
}
#awards .awardlist {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
  grid-template-rows: repeat(12, 44px);
  gap: 24px;
}
#awards .awardlist .one {
  grid-row-end: span 5;
  background: linear-gradient(180deg, #3c3f49 0%, rgba(60, 63, 73, 0) 100%);
  padding-left: 25px;
  position: relative;
}
#awards .awardlist .two {
  grid-row-end: span 8;
  grid-column-end: span 2;
  background-color: #5e666f;
}
#awards .awardlist .three {
  grid-row-end: span 8;
  background-color: #485518;
}
#awards .awardlist .four {
  grid-row-end: span 5;
  position: relative;
  background-color: #485518;
}
#awards .awardlist .five {
  grid-row-end: span 5;
  padding: 24px;
  background-color: #282f0e;
}
#awards .awardlist .one h4 {
  color: #fff;
  text-transform: capitalize;
  margin-top: 24px;
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1.4px;
}

#awards .awardlist .one h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -2.24px;
}
#awards .awardlist .one .country {
  display: flex;
  column-gap: 24px;
  margin-top: 15px;
}
#awards .awardlist .one .country a {
  color: #b1b2b6;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}
#awards .awardlist .one img {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}
#awards .awardlist .four .overlay {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(18, 19, 22, 0.4);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#awards .awardlist .four .overlay a {
  color: #121316;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  border-radius: 50px;
  background: #fff;
  padding: 12px 24px;
  text-transform: capitalize;
}
#awards .awardlist .four:hover .overlay {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#awards .awardlist .five h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -1.28px;
}
#awards .awardlist .five .nav {
  padding: 12px 0 16px;
  border-bottom: 1px solid rgba(181, 186, 163, 0.4);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  column-gap: 16px;
}
#awards .awardlist .five .nav button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.64px;
  background-color: transparent;
  border: none;
  opacity: 0.6;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#awards .awardlist .five .nav button::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#awards .awardlist .five .nav button:hover {
  opacity: 1;
}
#awards .awardlist .five .nav button:hover::after {
  width: 100%;
}
#awards .awardlist .five .nav button.active {
  opacity: 1;
}
#awards .awardlist .five .nav button.active::after {
  width: 100%;
}
#awards .awardlist .five .navitem {
  background-color: transparent;
}
#awards .awardlist .five .navitem .item p {
  color: #b0b1b5;
  font-size: 16px;
  font-weight: 500;
  line-height: 165%;
  letter-spacing: -0.64px;
  margin-top: 19px;
  max-width: 336px;
}
#awards .awardlist .five .navitem .item p a {
  color: #fff;
}
/* awards end */
/* footer start */
#foot {
  padding-top: 100px;
}
#foot .footbox {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "mail mail mail card card";
}
#foot .footbox .mail {
  grid-area: mail;
}
#foot .footbox .mail .title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -1.2px;
}
#foot .footbox .mail form {
  max-width: 662px;
}
#foot .footbox .mail form label {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
#foot .footbox .mail form input,
#foot .footbox .mail form input::placeholder {
  color: #40444f;
  font-size: 72px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -2.16px;
  background-color: transparent;
  border: none;
  padding-left: 5px;
  width: 100%;
}
#foot .footbox .mail form button {
  background-color: #40444f;
  width: 56px;
  height: 56px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#foot .footbox .mail .footsocial {
  display: flex;
  column-gap: 24px;
  margin-top: 34px;
}
#foot .footbox .mail .footsocial li a {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: rgba(64, 68, 79, 0.4);
}
#foot .footbox .card {
  grid-area: card;
  width: 448px;
  height: 407px;
  background-color: #5e4e4e;
  margin-left: auto;
  display: flex;
  align-items: end;
  justify-content: space-around;
}
#foot .footbox .card .name {
  display: flex;
  column-gap: 62px;
  padding-bottom: 20px;
}
#foot .footbox .card .name a {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1.4px;
  text-decoration-line: underline;
}
#foot .copyright {
  display: grid;
  grid-template-columns: auto auto;
  padding: 32px 0 43px;
  justify-content: space-between;
}
#foot .copyright p , #foot .copyright a{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: -0.56px;
}

/* footer end */
